Repository ffflorian/ts-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project tsconfig.jasmine.json --fix, tslint --project tsconfig.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "spec/**/*.ts": ["tslint --project tsconfig.jasmine.json --fix", "git add"],
  "src/**/*.ts": ["tslint --project tsconfig.json --fix", "git add"]
}

docs: Add generate link
  README.md
Due: prettier --write

docs: Add usage
  README.md
Due: prettier --write

docs: Wording
  README.md
Due: prettier --write

chore: Use new GitHub workflow
  .github/main.workflow
  .github/workflows/main.yml
Due: none

chore: Format yml files with prettier
  .huskyrc.json
  .lintstagedrc.json
  README.md
  package.json
Due: prettier --write

chore: Update package.json
  package.json
Due: prettier --write

chore: Add workflow steps names [ci skip]
  .github/workflows/main.yml
Due: none

chore: Add space to package.json
  package.json
Due: prettier --write

chore: Add name to job
  .github/workflows/main.yml
Due: none

chore: Switch to GPL v3
  LICENSE
  package.json
Due: prettier --write

fix: Variable usage in CLI example
  src/cli.ts
Due: tslint --project tsconfig.json --fix

docs: Add backticks to examples
  src/cli.ts
  src/index.ts
  src/project.ts
Due: tslint --project tsconfig.json --fix

fix: Add version variable to CLI example
  src/cli.ts
Due: tslint --project tsconfig.json --fix

chore: Add yarn cache to GitHub actions
  .github/workflows/main.yml
Due: none

chore: Back to npmjs.org
  yarn.lock
Due: none

chore: Use Node.js 12 for testing
  .github/workflows/main.yml
Due: none

chore: Use skip-checks for workflows
  .github/workflows/main.yml
  .releaserc.json
Due: prettier --write

chore: Use if check on job level in workflows [ci skip]
  .github/workflows/main.yml
  README.md
Due: prettier --write

remove git add
  package.json
Due: prettier --write

chore: Remove skip-checks
  .releaserc.json
Due: prettier --write

chore: Upgrade yarn lockfile
  yarn.lock
Due: none

refactor: Use ESLint instead of TSLint
  .eslintrc.json
  .eslintrc.spec.json
  package.json
  tslint.json
  yarn.lock
Due: prettier --write

refactor: Use ESLint instead of TSLint (#294)
  .eslintrc.json
  .eslintrc.spec.json
  package.json
  tslint.json
  yarn.lock
Due: prettier --write

chore: Use only npmjs.org in yarn.lock
  yarn.lock
Due: none

chore: Use Node.js 14
  .github/workflows/main.yml
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: Add changelog to prettierignore
  .prettierignore
Due: none

chore: Use npmjs.org in yarn.lock
  yarn.lock
Due: none

chore: Use new email address
  package.json
Due: prettier --write

chore: Update yarn.lock
  yarn.lock
Due: none

chore: Change last name
  package.json
Due: prettier --write

build(deps-dev): bump typescript from 3.9.7 to 4.0.2
  package.json
  yarn.lock
Due: prettier --write

update config and readme
  .github/dependabot.yml
  README.md
Due: prettier --write

chore: Improve GH actions
  .github/workflows/main.yml
Due: none

chore: Capitalization in tsconfig
  tsconfig.json
Due: prettier --write

chore: Add .devcontainer
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/README.md
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/node-debian.sh
Due: prettier --write

chore: Enable Code Scanning
  .github/workflows/codeql-analysis.yml
Due: none

chore: Use new workflow
  .github/workflows/main.yml
  .github/workflows/test_build_deploy.yml
  yarn.lock
Due: none

check if project is private
  .github/workflows/test_build_deploy.yml
Due: none
