Repository ffflorian/ts-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project tsconfig.jasmine.json --fix, tslint --project tsconfig.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "spec/**/*.ts": ["tslint --project tsconfig.jasmine.json --fix", "git add"],
  "src/**/*.ts": ["tslint --project tsconfig.json --fix", "git add"]
}

chore: Use yarn v2
  .gitignore
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: Use yarn v2 (#1007)
  .gitignore
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

docs: Add SECURITY.md
  SECURITY.md
Due: prettier --write

fix: Use correct yarn cache dir
  .github/workflows/build_test_publish.yml
  .npmrc
  .yarnrc.yml
Due: none

chore: Remove unnecessary CI_SKIP check
  .github/workflows/build_test_publish.yml
Due: none

chore: Check weekly for dependabot updates
  .github/dependabot.yml
Due: none

update yarn.lock
  package.json
  yarn.lock
Due: prettier --write

fix config
  tsconfig.cjs.json
Due: prettier --write

chore: Auto-merge type dependencies
  .github/auto-merge.yml
  .github/workflows/auto-merge.yml
Due: none

chore: Use Node.js version 20
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier --write

chore: Disable tests
  package.json
Due: prettier --write

chore: Setup yarn before installing
  .github/workflows/build_test_publish.yml
Due: none

chore: Update to yarn 4.0.2
  .github/workflows/build_test_publish.yml
  .yarn/releases/yarn-3.5.0.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

add @babel/eslint-parser
  package.json
  yarn.lock
Due: prettier --write

add @babel/core
  package.json
  yarn.lock
Due: prettier --write

chore: Use oxlint instead of eslint
  lefthook.yml
  package.json
  src/cli.ts
  src/index.ts
  src/project.ts
  yarn.lock
Due: prettier --write, tslint --project tsconfig.json --fix

chore: Run dependabot monthly
  .github/dependabot.yml
Due: none
