Repository ffflorian/ts-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --project tsconfig.jasmine.json --fix, tslint --project tsconfig.json --fix

.lintstagedrc.json:

{
  "*.{json,md}": ["prettier --write", "git add"],
  "spec/**/*.ts": ["tslint --project tsconfig.jasmine.json --fix", "git add"],
  "src/**/*.ts": ["tslint --project tsconfig.json --fix", "git add"]
}

rename workflow file [ci skip]
  .github/workflows/main.yml
Due: none

don't use or on if [ci skip]
  .github/workflows/main.yml
Due: none

use head_ref [ci skip]
  .github/workflows/main.yml
Due: none

chore: Use new workflow
  .github/workflows/build_test_publish.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
Due: none

chore: Use CI skip action
  .github/workflows/build_test_publish.yml
Due: none

use new format
  .github/workflows/build_test_publish.yml
  .husky/pre-commit
  package.json
Due: prettier --write

chore: Activate husky
  .husky/.gitignore
  .husky/pre-commit
Due: none

chore: Downgrade husky to 4.x
  .github/dependabot.yml
  .husky/.gitignore
  .husky/pre-commit
  .huskyrc.json
  package.json
  yarn.lock
Due: prettier --write

chore(deps-dev): bump @ffflorian/eslint-config from 0.6.2 to 0.8.1
  package.json
  yarn.lock
Due: prettier --write

chore: Bump @types/node to 14.14.37
  .github/dependabot.yml
  yarn.lock
Due: none

chore: Update yarn.lock
  yarn.lock
Due: none

chore: Update CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: none

chore: Don't publish dependency updates
  .github/workflows/build_test_publish.yml
Due: none

chore: Update CodeQL
  .github/workflows/codeql-analysis.yml
Due: none

chore: Add more funding sites
  .github/FUNDING.yml
Due: none

chore: Remove fetch-depth
  .github/workflows/build_test_publish.yml
Due: none

chore: Fix commander import
  src/cli.ts
Due: tslint --project tsconfig.json --fix

chore: Enable Dependabot auto-merge
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: Use Node.js 16
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier --write

chore: Upgrade yarn.lock
  yarn.lock
Due: none

chore: Disable Dependabot auto-merge feature
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore: Create GitLab mirror
  .github/workflows/gitlab_mirror.yml
Due: none

chore: Switch from husky/lint-staged to lefthook
  .huskyrc.json
  lefthook.yml
  package.json
  yarn.lock
Due: prettier --write

chore: Remove husky restriction
  .github/dependabot.yml
Due: none

chore: Switch from husky/lint-staged to lefthook (#898)
  .github/dependabot.yml
  .huskyrc.json
  lefthook.yml
  package.json
  yarn.lock
Due: prettier --write

chore: Re-add files to git after running lefthook
  lefthook.yml
Due: none

chore: Add staged files only once
  lefthook.yml
Due: none

chore: Enable Dependabot updates for GitHub Actions
  .github/dependabot.yml
Due: none

chore: Run GitLab mirror only on push to main branch
  .github/workflows/gitlab_mirror.yml
Due: none

chore: Remove devcontainer
  .devcontainer/Dockerfile
  .devcontainer/base.Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/README.md
  .devcontainer/library-scripts/common-debian.sh
  .devcontainer/library-scripts/node-debian.sh
Due: prettier --write

chore: Update GitLab mirror
  .github/workflows/gitlab_mirror.yml
Due: none

chore: Update Node.js to version 18
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier --write

chore: Update Node.js to version 18 (#939)
  .github/dependabot.yml
  .github/workflows/build_test_publish.yml
  package.json
  yarn.lock
Due: prettier --write

feat: Create hybrid module
  bin/generate-hybrid-package-json.sh
  package.json
  tsconfig.cjs.json
  tsconfig.jasmine.json
  tsconfig.json
Due: prettier --write

fix tests
  package.json
  spec/support/jasmine.json
  spec/support/jasmine.ts
Due: prettier --write, tslint --project tsconfig.jasmine.json --fix

feat: Create hybrid module (#1001)
  bin/generate-hybrid-package-json.sh
  package.json
  spec/support/jasmine.json
  spec/support/jasmine.ts
  tsconfig.cjs.json
  tsconfig.jasmine.json
  tsconfig.json
Due: prettier --write, tslint --project tsconfig.jasmine.json --fix
